---
import InputLink from "./InputLink.astro";
---

<div class="flex flex-col flex-1 bg-purple-100 m-7 p-7 rounded-xl">
  <h1 class="text-2xl font-semibold text-gray-900 pb-6">Attack Submission</h1>
  <InputLink title="Attack zip file:" type="file" submit_text="Submit Attacks"/>
</div>

