---
import InputLink from "./InputLink.astro";
import FileUpload from "./FileUpload.astro";
import SubmissionForm from "./Form.astro";
---

<div class="flex flex-col flex-1 bg-green-100 mx-6 mt-6 mb-3 p-7 rounded-xl">
  <h1 class="text-2xl font-semibold text-gray-900 pb-2">Model Submission</h1>
  <SubmissionForm button_text="Submit Model">
    <div class="flex flex-col">
      <InputLink title="DockerHub Link:" placeholder="https://hub.docker.com/" submit_text="Submit Model"/>
      <div class="flex items-center my-2">
        <div class="flex-1 border-t border-gray-300"></div>
        <span class="px-2 text-sm text-gray-500 font-medium">OR</span>
        <div class="flex-1 border-t border-gray-300"></div>
      </div>
      <FileUpload title="Upload Docker Image File:" subtext="Uplaod Dockerfile up to 10Mb"/>
    </div>
  </SubmissionForm>
</div>