---
const currentYear = new Date().getFullYear();
---

<footer class="w-full bg-gray-200">
  <div class="flex felx-col my-2 items-center justify-center">
    <span>Copyright &#169; {currentYear}</span>
    <span>&nbsp;|&nbsp;</span>
    <span>All rights reserved</span>
  </div>
</footer>