---
const currentYear = new Date().getFullYear();
---

<footer class="w-full bg-gray-200">
  <div class="flex flex-col my-2 items-center justify-center">
    <span>Copyright &#169; {currentYear} &nbsp;|&nbsp; All rights reserved</span>
  </div>
</footer>