---

---
<form action="/auth/login" accept-charset="UTF-8" method="POST">
  <div>
    <label for="email">Email:</label>
    <br />
    <input type="email" name="email" required />
  </div>
  <button type="submit">Submit</button>
</form>