---
// src/components/Navbar.astro
import LoginModal from './LoginModal.astro';
import Logout from './Logout.astro'
const currentPath = Astro.url.pathname;
import { getSession } from '../lib/auth';
import Account from './Account.astro';

const session = await getSession(Astro.request);
---

<nav class="bg-primary shadow-lg flex items-center justify-around py-4">
  <a href="/" class="font-bold text-white text-xl">
    MLSEC
  </a>

  <div class="space-x-6">
    <a
      href="/rules"
      class:list={[
        "font-semibold transition-colors",
        currentPath === '/rules' ? 'text-white underline underline-offset-4' : 'text-white/80 hover:text-white'
      ]}>
      Rules
    </a>
    <a
      href="/submission"
      class:list={[
        "font-semibold transition-colors",
        currentPath === '/submission' ? 'text-white underline underline-offset-4' : 'text-white/80 hover:text-white'
      ]}>
      Submission
    </a>
    <a
      href="/leaderboard"
      class:list={[
        "font-semibold transition-colors",
        currentPath === '/leaderboard' ? 'text-white underline underline-offset-4' : 'text-white/80 hover:text-white'
      ]}>
      Leaderboard
    </a>
  </div>

  <Account session={session}>
    <LoginModal slot="modal" />
    <Logout slot="logout" />
  </Account>

<script>
  document.getElementById('open-login-btn')!.addEventListener('click', () => {
    document.dispatchEvent(new CustomEvent('open-login-modal'));
  });
</script>