---

---
<form action="/auth/register" accept-charset="UTF-8" method="POST">
  <div>
    <label for="email">Email:</label>
    <br />
    <input type="email" name="email" required />
  </div>
  <div>
    <label for="username">Username:</label>
    <br />
    <input type="text" name="username" required />
  </div>
  <button type="submit">Submit</button>
</form>