---

import Navbar from "../components/Navbar.astro";
import { Content } from '../content/rules.md';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>MLSEC Rules</title>
	</head>
	<body class="flex flex-col min-h-screen">
		<Navbar />
		<div class="prose max-w-5xl mx-auto w-full bg-gray-100 p-7 mt-10 rounded-xl h-full">
			<Content />
		</div>
	</body>
</html>
