---

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Health from "../components/health.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>MLSEC Leaderboard</title>
	</head>
	<body class="flex flex-col min-h-screen">
    <Navbar/>
		<div class="flex-grow">
			<h1>Leaderboard</h1>
			<Health />
		</div>
		<Footer />
	</body>
</html>
