---

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Submit from "../components/Submit.astro";
import PastSubmit from "../components/Past_submit.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>MLSEC Submission</title>
	</head>
	<body class="flex flex-col min-h-screen">
		<Navbar />
		<div class="flex flex-grow flex-row">
			<Submit />
			<PastSubmit />
		</div>
		<Footer />
	</body>
</html>
